### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
.virtual_documents
*/.virtual_documents/*

# IPython
profile_default/
ipython_config.py

# Virtual env
env/

# Files
.DS_Store

