name: distill

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:
jobs:
  render_site:
    runs-on: macos-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Setup R
        uses: r-lib/actions/setup-r@v1

      - name: Setup tinytex
        uses: r-lib/actions/setup-tinytex@v1

      - name: Setup pandoc
        uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: 2.11.4

      - name: Install Packages
        run: Rscript -e 'install.packages("distill")'

      - name: Render Site
        run: |
          Rscript -e 'rmarkdown::clean_site(preview = FALSE)'
          Rscript -e 'rmarkdown::render_site()'

      - name: Commit files
        run: |
          git config --local core.autocrlf false
          git config --local user.email "${{ github.actor }}@users.noreply.github.com"
          git config --local user.name "${{ github.actor }}"
          git add . && git add --renormalize .
          git pull origin ${{ github.head_ref }} --autostash --rebase -X ours
          git commit --allow-empty -am "AUTO-GH ACTION: ${{ github.workflow }}"
          NO_PAGER=1 git --no-pager diff HEAD^
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: ${{ github.head_ref }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
